* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
}

body {
    background-image: url("banner.png");
    background-repeat: repeat-x;
  }

.header__img {
    max-width: 50%;
    height: auto;
}

.navbar {
    background: #FFFCF8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /*ensures navbar stays on TOPPP*/
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 8px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #EEE4AE;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: 0 1rem;
    width: 100%;
}

